@font-face {
	font-family: 'NeueHaasUnicaPro-Light';
	src: url('../fonts/2F18C2_0_0.eot');
	src: url('../fonts/2F18C2_0_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2F18C2_0_0.woff2') format('woff2'),
		 url('../fonts/2F18C2_0_0.woff') format('woff'),
		 url('../fonts/2F18C2_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'NeueHaasUnicaPro-Regular';
	src: url('../fonts/2F18C2_1_0.eot');
	src: url('../fonts/2F18C2_1_0.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/2F18C2_1_0.woff2') format('woff2'),
		 url('../fonts/2F18C2_1_0.woff') format('woff'),
		 url('../fonts/2F18C2_1_0.ttf') format('truetype');
}
 
html {
	font-family: NeueHaasUnicaPro-Light; 
	font-weight: normal; 
	font-style: normal; 
}

p, div, a {
	font-family: NeueHaasUnicaPro-Light; 
	font-weight: normal; 
	font-style: normal; 
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { 
	font-family: NeueHaasUnicaPro-Light; 
	font-weight: normal; 
	font-style: normal; 
}

strong {
	font-family: NeueHaasUnicaPro-Regular;
	font-weight: bold;
	font-style: normal;
}